@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body {
  font-family: "Monsterrat", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

#menu {
  position: relative;
  right: 700px;
  width: 25px;
  height: 25px;
}

#mag-glass {
  position: relative;
  right: 650px;
  width: 25px;
  height: 25px;
}

header {
  display: flex;
  justify-content: center;
}
h2 {
  margin: 0;
}

button {
  position: relative;
  left: 500px;
  width: 120px;
  height: 32px;
}

#main-img {
  width: 945px;
  height: 532px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
