@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body {
  font-family: "Monsterrat", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

#menu {
  position: relative;
  right: 700px;
  width: 25px;
  height: 25px;
}

#mag-glass {
  position: relative;
  right: 650px;
  width: 25px;
  height: 25px;
}

header {
  display: flex;
  justify-content: center;
}
h2 {
  margin: 0;
}

button {
  position: relative;
  left: 500px;
  width: 120px;
  height: 32px;
}

#main-img {
  margin: 0 400px;
  width: 945px;
  height: 532px;
}
#second {
  margin: 0 400px;
  width: 945px;
  height: 532px;
}

#third {
  margin: 0 400px;
  width: 945px;
  height: 532px;
}

.main-content {
  margin: 0 700px;
}

h3,
h6 {
  margin-left: 600px;
}

h6 {
  max-width: 700px;
}

p {
  margin-left: 400px;
  max-width: 900px;
  font-family: "Cinzel", serif;
  font-size: 20px;
  margin-left: 600px;
  max-width: 600px;
}

iframe {
  margin-left: 600px;
}

.b2 {
  position: relative;
  left: 600px;
  bottom: 40px;
  width: 300px;
}
.fb,
.tw,
.em,
.sh {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: 700px;
  bottom: 40px;
}

.tb-img {
  width: 273px;
  height: 182px;
  padding: 20px 5px 0 30px;
}

td {
  position: relative;
  left: 25px;
  font-size: 18px;
  max-width: 50px;
}

#aside {
  position: relative;
  bottom: 500px;
  right: 400px;
  float: right;
  max-width: 250px;
  font-size: 20px;
  word-spacing: 10px;
}

h5 {
  margin: 0 0 0 0;
}
